.xlTitre-fs{
    font-size: 4.5vmax;
  }
  .titre-fs{
    font-size: 2.5vmax;
  }
  .h4-fs{
    font-size: 2vmax;
  }
  .h5-fs{
    font-size: 1.5vmax;
  }
  .h6-fs{
    font-size: 1.2vmax;
  }
  .p-fs{
    font-size: 0.9vmax;
  }